body {
    margin-left: 300px;
    margin-right: 300px;
}
#name, #contact_details {
    text-align: center;
}
h4 {
    text-align: center;
}
.education {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.education-item-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.education-item-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}